body {
  background-color: #f4f4f4;
}
p.disclaimerLinkCard{
  font-size: 12px !important;
  font-family: "BBVAOfficeBook-Bold", Helvetica, Arial, sans-serif;
  font-weight: bold;
}
p.disclaimerLinkCardMobile{
  font-size: 12px !important;
  font-family: "BBVAOfficeBook-Bold", Helvetica, Arial, sans-serif !important;
  width: 80%;
  margin: 0px auto;
}
.container {
  width: 100%;
  margin: 0 auto;
}

.inner {
  width: 100%;
  margin: 0 auto;
}

.textotarjetas h1 {
  padding-top: 30px;
  margin: 0 auto;
  text-align: center;
  color: #000;
  font-size: 36px;
  font-family: "BBVA Light", Helvetica, Arial, sans-serif;
}

.textotarjetas p {
  padding-top: 9px;
  text-align: center;
  color: #000;
  font-size: 15px;
  font-family: "BBVA Light", Helvetica, Arial, sans-serif;
}

.bold {
  font-size: 15px;
  font-family: "BBVA Medium", Helvetica, Arial, sans-serif;
  font-weight: 900;
}
.copyFinal{
  line-height: 1.3em;
}
.copyFinal a {
  color: rgb(64, 161, 222);
}

.tarjetas {
  width: 100%;
  padding-top: 90px;
  position: relative;
  overflow: hidden;
}

.cards {
  width: 100%;
}

.flex-container {
  min-height: 300px;
  width: 100%;
  margin: 0 auto;
  list-style: none;
  font-size: 0;
}

.flex-item {
  position: absolute;
  width: 25%;
  display: inline-block;
  text-align: center;
  left: inherit;
  transition: all 0.5s linear;
}

.desktop .left-1 {
  left: 0;
}

.desktop .left-2 {
  left: 25%;
}

.desktop .left-3 {
  left: 50%;
}

.desktop .left-4 {
  left: 75%;
}

.flex-item:hover {
  transform: scale(1);
}

.flex-item:not(:hover) {
  transform: scale(0.8);
}

.flex-item img {
  transform: scale(1);
}

.flex-item:hover img {
  transform: scale(1);
}

.flex-item.selected {
  z-index: 1;
  transform: scale(1);
}

.flex-item.selected img {
  transform: scale(.90);
}
.canvaImg img{
  margin: 0px 0px 0px 4px;
  padding: 0 0px;
}

.output,
.output4 {
  color: #fff;
}

.output2,
.output3 {
  color: #11357e;
}

.left-1 .output,
.left-2 .output2,
.left-3 .output3,
.left-4 .output4 {
  padding: 5px 10px 0px 55px;
  margin: 0px;
  min-height: 15px;
  z-index: 99;
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  /* font-size: 1.4vw; */
  font-size: 1.1vw;
  /* bottom: 2.6vw; */
  bottom: 1.8vw;
  /* font-size: .7vw;
  bottom: 2.6vw; */

  cursor: default;
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  text-transform: uppercase;
}

/*Output Mobile*/
.outputMobile,
.outputMobile4 {
  color: #11357e;
}

.outputMobile2,
.outputMobile3 {
  color: #072146;
}

.outputMobile,
.outputMobile2,
.outputMobile3,
.outputMobile4 {
  padding: 5px 5px 0px 18vw;
  margin: 0px;
  min-height: 15px;
  z-index: 99;
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3.6vw;
  /* font-size: 3.9vw; */
  /* bottom: 2.1em; */
  /* bottom: 6.2vw; */
  bottom: 5.2vw;
  left: 25px;
  cursor: default;
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  text-transform: uppercase;
}
/*End img*/
.contImg{
  width: 0px;
  height: 1px;
  overflow: hidden;
}
@media screen and (max-width: 414px) {

  .outputMobile,
  .outputMobile2,
  .outputMobile3,
  .outputMobile4 {
    padding: 5px 5px 0px 15vw;
    left: 0px;
    bottom: 6.2vw;
  }
}

.style_prevu_kit {
  width: 100%;
  display: inline-block;
  border: 0;
  position: relative;
  transition: all 200ms ease-in;
}

.style_prevu_kit:hover {
  /*width: 90%;*/
  z-index: 2;
}

.flex-containerlisto {
  width: 80%;
  margin: 87px auto;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.flex-itemtlisto .cardslisto {
  width: 400px;
}

.boldlisto {
  font-family: "BBVA Medium", Helvetica, Arial, sans-serif;
  font-weight: 900;
}

.redeslisto {
  padding-top: 48px;
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

.redes {
  vertical-align: bottom;
  width: 32px;
  height: 32px;
  padding-top: 44px;
}

.letraazul {
  cursor: pointer;
  color: #1973b8;
  font-family: "BBVA Medium", Helvetica, Arial, sans-serif;
  font-size: 15px;
  padding-top: 0px;
}

.diseño {
  padding-top: 44px;
}

a {
  text-decoration: none;
}

.redeslisto a {
  margin-right: 50px;
  margin-left: 50px;
}

.letraazulredes {
  cursor: pointer;
  vertical-align: super;
  color: #1973b8;
  font-family: "BBVA Medium", Helvetica, Arial, sans-serif;
  font-size: 15px;
  padding-top: 44px;
}

.letraazulred {
  cursor: pointer;
  vertical-align: super;
  color: #1973b8;
  font-family: "BBVA Medium", Helvetica, Arial, sans-serif;
  font-size: 15px;
  float: left;
  margin-top: 8px;
  padding-top: 60px;
}

.esp {
  padding-top: 220px;
}

.espo {
  padding-top: 50px;
}

input {
  font-size: 16px;
  padding-left: 18px;
  color: grey;
  border-width: 0px;
  margin-top: 24px;
  width: 95%;
  height: 56px;
  border-radius: 1px;
  background-color: #ffffff;
  box-shadow: 0px 1px 0px 0px #6b6b6b;
}

.boldlistoinput {
  font-family: "BBVA Medium", Helvetica, Arial, sans-serif;
  font-weight: 900;
  line-height: 1.3;
}

.uno {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.regin {
  cursor: pointer;
  vertical-align: bottom;
  height: 32px;
  float: left;
  padding-top: 60px;
}

.conin {
  width: 32px;
  height: 32px;
  padding-top: 44px;
}

.button {
  margin-top: 56px;
  margin-bottom: 15px;
  float: right;
  width: 130px;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 1px;
  background-color: #1973b8;
  padding: 15px;
}

.letrablanca {
  color: #fff;
  font-family: "BBVA Medium", Helvetica, Arial, sans-serif;
  font-size: 15px;
}

.listo {
  text-align: center;
  margin-top: 0px;
}

#cajaDerecha {
  position: absolute;
  top: 0;
  left: 200%;
  margin-top: 90px;
  transition: all 0.5s linear;
}

.listo, .listoper {
  text-align: center;
}

#cajaDerecha {
  position: absolute;
  top: 0;
  left: 200%;
  margin-top: 90px;
  transition: all 0.5s linear;
}

.listoper {
  margin-top: 0;
}

#step2 {
  display: none;
}

.listo a {
  margin-right: 10px;
  margin-left: 10px;
}

.flex-containerli {
  width: 100%;
  margin: 0 auto;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

@media screen and (min-width: 415px) and (max-width: 768px) {
  .form-mobile {
    width: 70% !important;
    margin: 0 auto;
  }

  .cards {
    width: 70%;
  }

  .gusto h1 {
    padding-top: 0px;
    font-size: 15px;
    margin: 0 auto;
    text-align: left;
    padding-bottom: 40px;
    font-family: "BBVA Light", Helvetica, Arial, sans-serif;
  }

  .tarjetas-mobile {
    margin: 0 auto;
    text-align: center;
    width: 100%;
    margin-top: 20px !important;
    margin-bottom: 40px;
  }

  .gusto {
    width: 70%;
    margin: 0 auto;
  }

  .flex-item {
    position: relative;
    width: 100% !important;
    display: inline-block;
    text-align: center;
    left: 0;
    transition: all 0.5s linear;
  }
}

@media screen and (min-width: 414px) and (max-width: 768px) {
  .swiper-container {
    height: 500px !important;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
    orientation: landscape;
  }
}

@media screen and (min-width: 320px) and (max-width: 414px) {
  .redes-mobile .diseño {
    padding-top: 24px;
  }

  .swiper-container {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
    orientation: landscape;
  }
}

@media screen and (max-width: 768px) {
  .listoper {
    text-align: left;
  }

  .style_prevu_kit:hover {
    z-index: 2;
  }

  .flex-item:not(:hover) {
    transform: none;
  }

  .container-mobile {
    position: relative;
  }

  .flex-item {
    position: relative;
    width: 100%;
    display: inline-block;
    text-align: center;
    left: 0;
    transition: all 0.5s linear;
  }

  .swiper-container {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    /*background: #f4f4f4;*/
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .container {
    display: none;
  }

  .textotarjetas h1 {
    font-size: 26px;
  }

  .textotarjetas p {
    line-height: 21.2px;
    font-size: 15px;
  }

  .boton-mobile {
    margin: 0 auto;
    text-align: center;
    width: 100%;
  }

  .button-mobile {
    margin: 0 auto;
    max-width: 400px;
    width: 85%;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 1px;
    background-color: #1973b8;
    padding: 15px;
  }

  .tarjetas-mobile {
    margin: 0 auto;
    text-align: center;
    width: 100%;
    /*margin-top: 51px;*/
    margin-bottom: 40px;
  }

  .textopersonaliza-mobile h1 {
    padding-top: 30px;
    margin: 0 auto;
    text-align: center;
    color: #000;
    font-size: 26px;
    font-family: "BBVA Light", Helvetica, Arial, sans-serif;
  }

  .textolisto-mobile h1 {
    padding-top: 72px;
    margin: 0 auto;
    text-align: center;
    color: #000;
    font-size: 26px;
    font-family: "BBVA Light", Helvetica, Arial, sans-serif;
  }

  .textolisto-mobile p {
    padding-top: 9px;
    text-align: center;
    color: #000;
    font-size: 15px;
    font-family: "BBVA Light", Helvetica, Arial, sans-serif;
  }

  .textolistog-mobile {
    margin: 0 auto;
    width: 100%;
  }

  .textopersonaliza-mobile p {
    line-height: 1.2;
    padding-top: 9px;
    text-align: center;
    color: #000;
    font-size: 15px;
    font-family: "BBVA Light", Helvetica, Arial, sans-serif;
  }

  @media screen and (max-width: 414px) {
    .cards {
      width: 90%;
    }

    .tarjetas-mobile {
      margin: 0 auto;
      text-align: center;
      width: 100%;
      margin-top: 51px;
      margin-bottom: 20px;
    }

    .gusto h1 {
      padding-bottom: 15px;
      padding-top: 0px;
      font-size: 15px;
      margin: 0 auto;
      text-align: left;
      width: 90%;
      font-family: "BBVA Light", Helvetica, Arial, sans-serif;
    }
  }

  .esp-mobile {
    margin-top: 50px;
    margin-bottom: 200px;
  }

  .form-mobile {
    width: 90%;
    margin: 0 auto;
  }

  .redes-mobile {
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }

  .redes {
    cursor: pointer;
    vertical-align: bottom;
    width: 70px;
    height: 50px;
    padding-top: 5px;
  }
}

@media screen and (min-width: 769px) and (max-width: 2560px) {
  .disclaimerLinkCardMobile{
    display: none;
  }
  .whats {
    display: none;
  }

  .container-mobile {
    display: none;
  }
}

.hidden {
  display: none;
}

/*-*-Nuevos Estilos*-*/
.swiper-slide.swiper-slide-active {
  opacity: 1;
}

.swiper-slide {
  opacity: 0;
  transition: opacity .5s ease-out;
}

.my-pagination.swiper-pagination-bullets.swiper-pagination .swiper-pagination-bullet {
  margin: 0 5px;
}

@media screen and (min-width: 641px) and (max-width: 768px) {
  .my-pagination.swiper-pagination-bullets.swiper-pagination {
    bottom: 137px;
  }
}

@media screen and (min-width: 411px) and (max-width: 568px) {
  .my-pagination.swiper-pagination-bullets.swiper-pagination {
    bottom: 160px;
  }
}

@media screen and (min-width: 320px) and (max-width: 640px) {
  .my-pagination.swiper-pagination-bullets.swiper-pagination {
    bottom: 150px;
  }
}

@media screen and (max-width: 400px) {
  .my-pagination.swiper-pagination-bullets.swiper-pagination {
    bottom: 60px;
  }
}

@media screen and (min-width: 415px) and (max-width: 768px) {
  .my-pagination.swiper-pagination-bullets.swiper-pagination {
    bottom: 120 ! important;
  }
}

@media screen and (max-width: 375px) {
  .my-pagination.swiper-pagination-bullets.swiper-pagination {
    bottom: 75px !important;
  }
}

@media screen and (min-width: 320px) and (max-width: 414px) {
  .my-pagination.swiper-pagination-bullets.swiper-pagination {
    bottom: 60px !important;
  }
}

@media screen and (min-width: 414px) and (max-width: 768px) {
  .redes-mobile .diseño {
    padding-top: 44px;
  }
}

@media screen and (max-width: 320px) {
  .boton-mobile {
    padding-bottom: 10px;
  }
}
